.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.card-buttons {
  display: flex;
  align-items: center;
  align-content: center;
}

.letter {
  font-size: 100px;
  text-align: center;
}

.card {
  width: 85%;
  padding: 0;
}

.hints {
  display: flex;
  justify-content: space-evenly;
}

.hint {
  display: flex;
  flex-direction: column;
}

.hint-input {
  margin: 0;
}

.two-per-row {
  flex: 1 0 36%;
  margin: 3px;
}

#button-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 0px;
  margin-right: 0px;
}